##### PROJECT IO #####
project:
  name: macrophage_atac
  genome: hg38
  out_dir: /data2/litian/macrophage/process/20251109_atac_run2/
  # Sample sheet / Annotation file
  samples: /data2/litian/macrophage/script/atacseq_pipeline/config/anno_sample.csv
  read_type : paried # If you have mixed read_type, you should specify in your sample sheet.

##### WORKFLOW RESOURCES #####
resources:
  mem_mb: 256000
  threads: 2

##### PIPELINE STEPS #####
# 1. Adapter Trimming / Handling
adapters:
  sequence: "CTGTCTCTTATA" # Nextera
  # Used by Bowtie2 if provided
  fasta: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/nextera_adapters.fa

# 2. Alignment Strategy
alignment:
  tool: bwa-mem2  # Options: "bowtie2" or "bwa-mem2"
  sequencing_platform: illumina
  local_mode: true # If use bowtie2, this is necessary.
  
  # Pre-alignment (Optional: e.g. filter chrM first)
  prealign:
    enabled: false
    indices:
      - name: chrM
        path: /data2/litian/database/bwa/hg38_rcrds/rcrds
  
  # Tool Specifics
  bwa:
    index: /data/Public/BWA_MEM2_index/GRCh38
    min_score: null
    threads: null # null = defaults
    extra_args: ""
  
  bowtie2:
    index: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/indices_for_Bowtie2/hg38

# 3. Filtering & QC
filtering:
  # 2316: Keep duplicates? (Check logic: usually 3340 filters dups)
  sam_flag: 2316 
  tss_slop: 2000
  noise_lower: 100
  
# 4. Peak Calling (MACS2) & Consensus
peaks:
  macs2_keep_dup: "auto"
  slop_extension: 250     # Extension for consensus regions

# 5. Annotation (UROPA)
annotation:
  tss_size: 100
  distal_size: 10000
  promoter:
    up: 1000
    down: 500
  templates:
    gencode: ../resources/UROPA/gencode_config_TEMPLATE_V4.txt
    regulatory: ../resources/UROPA/regulatory_config_TEMPLATE.txt

##### GENOME REFERENCES (HG38) #####
# Paths to static resources
refs:
  # Base Genomes
  fasta: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/hg38.fa
  chrom_sizes: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/hg38.chromSizes
  genome_size_bp: 2747877777
  mito_name: chrM

  # Feature Files
  blacklist: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/hg38-ENCODE_blacklist.sorted.v3.bed
  whitelist: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/hg38-ENCODE_whitelist.sorted.v3.bed
  unique_tss: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/hg38_gencode_tss_unique.sorted.bed
  regulatory_regions: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/homo_sapiens.GRCh38.Regulatory_Build.regulatory_features.chromosomes_only.20161111.bed

  # GTF Annotations
  gencode_gtf: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/gencode.v38.basic.annotation.gtf
  regulatory_gtf: /data2/litian/database/bowtie2/resources/atacseq_pipeline/hg38/homo_sapiens.GRCh38.Regulatory_Build.regulatory_features.20210107.gtf


