##### PROJECT IO #####
project:
  name: macrophage_atac
  genome: hg38
  # Output directory (can use {process_dir} placeholder from PEP)
  out_dir: "{process_dir}/20251120_ATAC_test1"
  # Sample sheet / Annotation file (managed by PEP)
  samples: ../config/annotation.csv
  pep_config: ../pep/project_config.yaml
  read_type : paired # If you have mixed read_type, you should specify in your sample sheet.

##### WORKFLOW RESOURCES #####
resources:
  mem_mb: 4000
  threads: 2

##### PIPELINE STEPS #####
# 1. Adapter Trimming / Handling
adapters:
  sequence: "CTGTCTCTTATA" # Nextera
  # Used by Bowtie2 if provided (uses {database_dir} from PEP)
  fasta: "{database_dir}/hg38/nextera_adapters.fa"

# 2. Alignment Strategy
alignment:
  tool: bwa-mem2  # Options: "bowtie2" or "bwa-mem2"
  sequencing_platform: illumina
  local_mode: true # If use bowtie2, this is necessary.
  
  # Pre-alignment (Optional: e.g. filter chrM first)
  prealign:
    enabled: false
    indices:
      - name: chrM
        path: /data2/litian/database/bwa/hg38_rcrds/rcrds
  
  # Tool Specifics
  bwa:
    # Uses {shared_genome_dir} from PEP
    index: "{shared_genome_dir}/bwa-mem2/GRCh38"
    min_score: null
    threads: null # null = defaults
    extra_args: ""
  
  bowtie2:
    # Uses {database_dir} from PEP
    index: "{database_dir}/hg38/indices_for_Bowtie2/hg38"

# 3. Filtering & QC
filtering:
  # 2316: Keep duplicates? (Check logic: usually 3340 filters dups)
  sam_flag: 2316 
  tss_slop: 2000
  noise_lower: 100
  
# 4. Peak Calling (MACS2) & Consensus
peaks:
  macs2_keep_dup: "all"
  slop_extension: 250     # Extension for consensus regions
  macs2_shift: -75        # center 150bp window on Tn5 cut site
  macs2_extsize: 150      # 2 * |macs2_shift|
  macs2_format: "BED"     # enforce BED input for ATAC
  macs2_pval: 1e-3

# 5. Annotation (UROPA)
annotation:
  tss_size: 100
  distal_size: 10000
  promoter:
    up: 1000
    down: 500
  templates:
    gencode: ../resources/UROPA/gencode_config_TEMPLATE_V4.txt
    regulatory: ../resources/UROPA/regulatory_config_TEMPLATE.txt

##### GENOME REFERENCES (HG38) #####
# Paths to static resources (uses {database_dir} from PEP)
refs:
  # Base Genomes
  fasta: "{database_dir}/hg38/hg38.fa"
  chrom_sizes: "{database_dir}/hg38/hg38.chromSizes"
  genome_size_bp: 2747877777
  mito_name: chrM

  # Feature Files
  blacklist: "{database_dir}/hg38/hg38-ENCODE_blacklist.sorted.v3.bed"
  whitelist: "{database_dir}/hg38/hg38-ENCODE_whitelist.sorted.v3.bed"
  unique_tss: "{database_dir}/hg38/hg38_gencode_tss_unique.sorted.bed"
  regulatory_regions: "{database_dir}/hg38/homo_sapiens.GRCh38.Regulatory_Build.regulatory_features.chromosomes_only.20161111.bed"

  # GTF Annotations
  gencode_gtf: "{database_dir}/hg38/gencode.v38.basic.annotation.gtf"
  regulatory_gtf: "{database_dir}/hg38/homo_sapiens.GRCh38.Regulatory_Build.regulatory_features.20210107.gtf"


