$schema: "http://json-schema.org/draft-06/schema#"

description: Configuration validation for ATAC-seq pipeline
type: object

# 1. PROJECT IO
properties:
  project:
    type: object
    properties:
      name: {type: string}
      genome: {type: string}
      out_dir: {type: string}
    required: [name, genome, out_dir]

# 2. RESOURCES
  resources:
    type: object
    properties:
      mem_mb: {type: integer, minimum: 1000}
      threads: {type: integer, minimum: 1}
    required: [mem_mb, threads]

# 3. ADAPTERS
  adapters:
    type: object
    properties:
      sequence: 
        type: string
        pattern: "^[ATCGN]+$" # regex: only DNA characters allowed
      fasta: {type: string}

# 4. ALIGNMENT
  alignment:
    type: object
    properties:
      tool:
        type: string
        enum: ["bowtie2", "bwa-mem2"] # RESTRICT choice to these two
      sequencing_platform: {type: string}
      local_mode: {type: boolean}
      
      prealign:
        type: object
        properties:
          enabled: {type: boolean}
          indices:
            type: array
            items:
              type: object
              properties:
                name: {type: string}
                path: {type: string}
      
      bwa:
        type: object
        properties:
          index: {type: ["string", "null"]}
          min_score: {type: ["integer", "null"]}
          threads: {type: ["integer", "null"]}
          extra_args: {type: string}

      bowtie2:
        type: object
        properties:
          index: {type: string}

    required: [tool]

# 5. FILTERING
  filtering:
    type: object
    properties:
      sam_flag: {type: integer}
      tss_slop: {type: integer}
      noise_lower: {type: integer}

# 6. PEAKS (MACS2)
  peaks:
    type: object
    properties:
      slop_extension: {type: integer}
      macs2_keep_dup:
        # unique syntax: allow EITHER an integer OR the string "auto"
        oneOf:
          - type: integer
          - type: string
            enum: ["auto","all"]

# 7. ANNOTATION
  annotation:
    type: object
    properties:
      tss_size: {type: integer}
      distal_size: {type: integer}
      promoter:
        type: object
        properties:
          up: {type: integer}
          down: {type: integer}
      templates:
        type: object
        properties:
          gencode: {type: string}
          regulatory: {type: string}

# 8. REFERENCES (Files)
  refs:
    type: object
    properties:
      fasta: {type: string}
      chrom_sizes: {type: string}
      genome_size_bp: {type: integer}
      mito_name: {type: string}
      blacklist: {type: string}
      whitelist: {type: string}
      unique_tss: {type: string}
      regulatory_regions: {type: string}
      gencode_gtf: {type: string}
      regulatory_gtf: {type: string}

# Make sure top-level sections exist
required:
  - project
  - alignment
  - refs